password_db_events-qas_admin =
password_db_events-qas_dbmaster =
password_db_events_admin =
password_db_events_dbmaster =
password_db_avo2-qas_admin =
password_db_avo2-qas_dbmaster =
password_db_avo2_admin =
password_db_avo2_dbmaster =
password_db_dwhreader =

dwh_sources_ip =
